<md-content>
  <form name="formBuilderForm">
    <div draggable-item="'inputText'">
      <builder-input-text disabled="true"></builder-input-text>
    </div>
    <div draggable-item="'select'">
      <builder-select disabled="true"></builder-select>
    </div>
    <div draggable-item="'inputCheckbox'">
      <builder-checkbox disabled="true"></builder-checkbox>
    </div>
    <div draggable-item="'inputRadio'">
      <builder-radio disabled="true"></builder-radio>
    </div>
    <div draggable-item="'textarea'">
      <builder-textarea disabled="true"></builder-textarea>
    </div>
    <div draggable-item="'switch'">
      <builder-switch disabled="true"></builder-switch>
    </div>
    <div draggable-item="'datepicker'">
      <builder-datepicker disabled="true"></builder-datepicker>
    </div>
    <div draggable-item="'fileUploader'">
      <builder-file-uploader disabled="true"></builder-file-uploader>
    </div>
  </form>
</md-content>
